*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(58, 108, 174);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.container{
    height: 100%;
    display:flex ;
    justify-content: center;
    align-items: center;

}
.login-box{
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}
h1{
    font-size: 18px;
    margin-bottom: 20px;
}
.form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
input{
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 14px;
}
input:focus{
    outline: none;
    border-bottom: 2px solid #007bff;
}
button{
    background-color: rgb(23, 101, 198);
    padding: 10px;
    color: #fff;
    width: 100%;
    border:none;
    border-radius: 2px;
    margin-top: 10px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(154, 185, 253);
}
.link{
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}
a{
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 5px;
}
a:first-child{
    color: black;
}
span{
    color: rgb(10, 108, 207);
}
a:hover{
    opacity: .5;
}